WEAVIATE_VERSION=1.34.0
WEAVIATE_HOST=0.0.0.0
WEAVIATE_PORT=8080
WEAVIATE_SCHEME=http
#WEAVIATE_GRPC_PORT=50051

TZ=Europe/Berlin

WEAVIATE_DATA_PATH=/var/lib/weaviate
WEAVIATE_QUERY_LIMIT=100
WEAVIATE_CLUSTER_HOSTNAME=node1
DISABLE_TELEMETRY=true
QUERY_SLOW_LOG_ENABLED=true

AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=false
AUTHENTICATION_APIKEY_ENABLED=true
WEAVIATE_API_KEYS=example-key-12345
WEAVIATE_API_USERS=admin
AUTHORIZATION_ENABLE_RBAC=true
WEAVIATE_ROOT_USERS=admin

ENABLE_API_BASED_MODULES=false
ENABLE_MODULES=
OLLAMA_ENDPOINT="http://127.0.0.1:11434"
OLLAMA_ENDPOINT_WEAVIATE="http://ollama:11434"

WEAVIATE_DOMAIN=weaviate.docker.localhost
TRAEFIK_DASHBOARD_DOMAIN=traefik.docker.localhost
